<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace="~{fragments/sidebar :: sidebar(activeMenu='notice')}"></div>

    <div class="right-content">
        <h2 class="border-bottom py-2">📢 공지사항 등록</h2>
        
        <form th:action="@{/notice/create}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label text-white">제목</label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label text-white">내용</label>
                <textarea name="content" id="content" class="form-control" rows="10" required></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <a th:href="@{/notice/list}" class="btn btn-secondary me-2">취소</a>
                <button type="submit" class="btn btn-primary">저장하기</button>
            </div>
        </form>
    </div>
</div>
</html>